<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <div class="site-container">
      <%- partial('_partial/header') %>
      <main class="site-main">
        <%- body %>
      </main>
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>
